# Python ETL

## Syntax Introduction

1. pritimiives
1. collections
1. control flow
1. functions
1. simple programs

### Why python?

* it is cool

In [138]:
# This is a Python comment
"""
This can be used 
as a 
multi line comment
"""

'\nThis can be used \nas a \nmulti line comment\n'

In [139]:
# strings
"Hello, world"
'Hello, again'
"""Hell'o "world"""
'''Hello world'''

'Hello world'

In [140]:
mystr = "Hello, world"

In [141]:
mystr

'Hello, world'

In [142]:
1 + 1

2

In [143]:
2 - 1

1

In [144]:
2 * 2

4

In [145]:
4 / 2

2.0

In [146]:
2 ** 3

8

In [147]:
# mod
10 % 3

1

In [148]:
True

True

In [149]:
False

False

In [150]:
not True

False

In [151]:
not False

True

In [152]:
True and False

False

In [153]:
False or True

True

In [154]:
1 == 1

True

In [155]:
2 == 1

False

In [156]:
1 != 1

False

In [157]:
1 > 2

False

In [158]:
2 >= 2

True

In [159]:
name = "David"
print(name)

David

In [160]:
"[Info] username is " + "Ian"

'[Info] username is Ian'

In [161]:
"[Info] username is " + name

'[Info] username is David'

In [162]:
#"[Info] Today's temperature is " + 75

In [163]:
"[Info] Today's temperature is %sF"%75

"[Info] Today's temperature is 75F"

In [164]:
"[Info] Today's temperature is {}F".format(75)

"[Info] Today's temperature is 75F"

In [165]:
"[Info] Today's temperature in %s is %sF"%("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F"

In [166]:
"[Info] Today's temperature in {} is {}F".format("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F"

In [167]:
"[Info] Today's temperature in {0} is {1}F, Tomorrow is {1}F".format("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F, Tomorrow is 75F"

In [168]:
"[Info] Today's temperature in {city} is {temp}F, Tomorrow is {temp}F".format(city="Taoyuan", temp=75)

"[Info] Today's temperature in Taoyuan is 75F, Tomorrow is 75F"

In [169]:
len("hello")

5

In [170]:
len("你好")

2

In [171]:
# Collections
[]

[]

In [172]:
[1]

[1]

In [173]:
[1,2,3,4]

[1, 2, 3, 4]

In [174]:
['nice', 1]

['nice', 1]

In [175]:
students = []

In [176]:
students.append("Ian")

In [177]:
students

['Ian']

In [178]:
students.append("David")

In [179]:
students

['Ian', 'David']

In [180]:
students.insert(0, "Brian")

In [181]:
students

['Brian', 'Ian', 'David']

In [182]:
students.pop()

'David'

In [183]:
students

['Brian', 'Ian']

In [184]:
del students[1]

In [185]:
students

['Brian']

In [186]:
students.append('Ian')

In [187]:
students

['Brian', 'Ian']

In [188]:
students[1]

'Ian'

In [189]:
students[0]

'Brian'

In [190]:
students[-1]

'Ian'

In [191]:
students[0] = "John"

In [192]:
students

['John', 'Ian']

In [193]:
students.append("Batman")

In [194]:
students.extend(["Spiderman", "Ironman"])

In [195]:
students

['John', 'Ian', 'Batman', 'Spiderman', 'Ironman']

In [196]:
# list[start:end:step]

In [197]:
students[1:3]

['Ian', 'Batman']

In [198]:
students[1:]

['Ian', 'Batman', 'Spiderman', 'Ironman']

In [199]:
students[:3]

['John', 'Ian', 'Batman']

In [200]:
students[::2]

['John', 'Batman', 'Ironman']

In [201]:
students[::-1]

['Ironman', 'Spiderman', 'Batman', 'Ian', 'John']

In [202]:
students[1:4:2]

['Ian', 'Spiderman']

In [203]:
"Ian" in students

True

In [204]:
is_in_class = "Spiderman" in students

In [205]:
"wonder woman" in students

False

In [206]:
record = ("Ian", "python", "engineer")

In [207]:
record[1]

'python'

In [229]:
# Dictionary
student_dict = {"name": "Ian",
                "job": "Teacher",
                "skills": ["python", "ruby", "javascript", "postgresql"]}

In [230]:
student_dict['name']

'Ian'

In [231]:
student_dict['job']

'Teacher'

In [232]:
student_dict['name'] = "Daivd"

In [233]:
student_dict

{'job': 'Teacher',
 'name': 'Daivd',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [234]:
del student_dict['name']

In [235]:
student_dict

{'job': 'Teacher', 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [236]:
student_dict['name'] = "Brian"

In [237]:
student_dict

{'job': 'Teacher',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [238]:
# in在dictionary裏面用來查詢Key存不存在

In [239]:
'name' in student_dict

True

In [240]:
'Brian' in student_dict

False

In [241]:
# Graceful handling of missing key, use dict.get('key')
student_dict['name']

'Brian'

In [242]:
#student_dict['location']

In [243]:
student_dict.get("name")

'Brian'

In [244]:
student_dict.get("location")

In [245]:
student_dict

{'job': 'Teacher',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [246]:
# dict.get(key, default_value)
student_dict.get("location", "Taipei")

'Taipei'

In [247]:
student_dict

{'job': 'Teacher',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [248]:
# if key not in dict, insert val
student_dict.setdefault("location", "Taipei")

'Taipei'

In [249]:
student_dict

{'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [250]:
student_dict.setdefault("location", "Tainan")

'Taipei'

In [251]:
student_dict

{'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [255]:
{1,2,3,3,4,4,5,5,5}

{1, 2, 3, 4, 5}

In [264]:
s1 = set([1,2,3,3,4,4,5,6,6,6,6,12])
s1

{1, 2, 3, 4, 5, 6, 12}

In [265]:
s2 = set([1,2,3,3,4,4,5,6,6,6,6,7,8,9])
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [266]:
s2 - s1

{7, 8, 9}

In [267]:
s2 ^ s1

{7, 8, 9, 12}

In [268]:
s2 & s1

{1, 2, 3, 4, 5, 6}

In [269]:
s2 | s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [271]:
s2 >= s1

False

In [272]:
s1 <= s2

False

In [275]:
student_dict = {'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}
student_dict

{'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [277]:
[student_dict, student_dict, student_dict]

[{'job': 'Teacher',
  'location': 'Taipei',
  'name': 'Brian',
  'skills': ['python', 'ruby', 'javascript', 'postgresql']},
 {'job': 'Teacher',
  'location': 'Taipei',
  'name': 'Brian',
  'skills': ['python', 'ruby', 'javascript', 'postgresql']},
 {'job': 'Teacher',
  'location': 'Taipei',
  'name': 'Brian',
  'skills': ['python', 'ruby', 'javascript', 'postgresql']}]

In [278]:
# Control flow

In [281]:
price =  11

In [287]:
if price > 10:
    print("price is greater than 10")

price is greater than 10

In [289]:
price = 8

if price > 10:
    print("price is greater than 10")
elif price < 10:
    print("price is smaller than 10")
else:
    print("price is 10")

price is smaller than 10

In [293]:
# loops
# students = ["Brian", "Ian", "David"]
# for (i=0, i<length(students), i++) {
#   print(studnets[i])
# }
students = ['Brian', 'Batman', 'Spiderman']
for name in students:
    print("student name is %s"%name)

student name is Brian
student name is Batman
student name is Spiderman

In [307]:
student_dict = {'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

for k in student_dict:
    print("key: %s"%k)
    print("val: %s"%student_dict[k])
    print("="*50)

key: job
val: Teacher
==================================================
key: location
val: Taipei
==================================================
key: name
val: Brian
==================================================
key: skills
val: ['python', 'ruby', 'javascript', 'postgresql']
==================================================

In [312]:
student_dict = {'job': 'Teacher',
 'location': 'Taipei',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

print("student_dict.items() is => %s"%(student_dict.items()))

for k,v in student_dict.items():
    print("key: %s"%k)
    print("val: %s"%v)
    print("="*50)

student_dict.items() is => dict_items([('job', 'Teacher'), ('location', 'Taipei'), ('name', 'Brian'), ('skills', ['python', 'ruby', 'javascript', 'postgresql'])])
key: job
val: Teacher
==================================================
key: location
val: Taipei
==================================================
key: name
val: Brian
==================================================
key: skills
val: ['python', 'ruby', 'javascript', 'postgresql']
==================================================

In [314]:
student_dict.keys()

dict_keys(['job', 'location', 'name', 'skills'])

In [315]:
student_dict.values()

dict_values(['Teacher', 'Taipei', 'Brian', ['python', 'ruby', 'javascript', 'postgresql']])

In [317]:
for x in student_dict.values():
    print(x)

Teacher
Taipei
Brian
['python', 'ruby', 'javascript', 'postgresql']

In [295]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [296]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [298]:
# range(start, end, step)
for num in range(2,10,2):
    print(num)

2
4
6
8

In [300]:
x = 0
while x < 4:
    print(x)
    x += 1 # x = x + 1

0
1
2
3

In [318]:
# Functions
books = ["Harry Potter", "Lord of Rings", "Python, The Definitive Guide", "Javascript The Best Parts"]

In [319]:
for book in books:
    print(book)

Harry Potter
Lord of Rings
Python, The Definitive Guide
Javascript The Best Parts

In [322]:
def lower_case(mystr):
    print("[INFO] Running lower_case function")
    return mystr.lower()

In [323]:
for book in books:
    lower_book = lower_case(book)
    print(lower_book)

[INFO] Running lower_case function
harry potter
[INFO] Running lower_case function
lord of rings
[INFO] Running lower_case function
python, the definitive guide
[INFO] Running lower_case function
javascript the best parts

In [324]:
for book in books:
    lower_book = lower_case(mystr = book)
    print(lower_book)

[INFO] Running lower_case function
harry potter
[INFO] Running lower_case function
lord of rings
[INFO] Running lower_case function
python, the definitive guide
[INFO] Running lower_case function
javascript the best parts

In [328]:
def add(x,y):
    return x+y

def sub(x,y):
    return x-y

In [326]:
add(1,2)

3

In [327]:
add(3,4)

7

In [329]:
sub(2,1)

1

In [330]:
sub(5,3)

2

In [331]:
sub(x=5,y=1)

4

In [332]:
sub(y=5,x=1)

-4

In [341]:
x = 1
def set_x(num):
    #print("[INFO] before set: %s"%x)
    x = num
    print("[INFO] after set: %s"%x)

In [342]:
set_x(5)

[INFO] after set: 5

In [352]:
# Python modules

In [343]:
import json

In [344]:
json

In [345]:
json.dumps(['hi'])

'["hi"]'

In [346]:
import json as j

In [347]:
j.dumps(["HI"])

'["HI"]'

In [348]:
from json import dumps

In [349]:
dumps(["HI"])

'["HI"]'

In [350]:
from json import dumps as d

In [351]:
d(["HI"])

'["HI"]'

In [353]:
# Word counting

In [358]:
f = open('./trump_speech.txt')

In [359]:
print(f.read())

Mr. Secretary General, Mr. President, world leaders, and distinguished delegates, welcome to New York. It is a profound honor to stand here in my home city as a representative of the American people to address the people of the world. As millions of our citizens continue to suffer the effects of the devastating hurricanes that have struck our country, I want to begin by expressing my appreciation to every leader in this room who has offered assistance and aid. The American people are strong and resilient, and they will emerge from these hardships more determined than ever before.
Fortunately, the United States has done very well since Election Day last November 8. The stock market is at an all-time high, a record. Unemployment is at its lowest level in 16 years, and because of our regulatory and other reforms, we have more people working in the United States today than ever before. Companies are moving back, creating job growth, the likes of which our country has not seen in a very long time, and it has just been announced that we will be spending almost $700 billion on our military and defense. Our military will soon be the strongest it has ever been. For more than 70 years, in times of war and peace, the leaders of nations, movements, and religions have stood before this assembly.
Like them, I intend to address some of the very serious threats before us today, but also the enormous potential waiting to be unleashed. We live in a time of extraordinary opportunity. Breakthroughs in science, technology, and medicine are curing illnesses and solving problems that prior generations thought impossible to solve. But each day also brings news of growing dangers that threaten everything we cherish and value. Terrorists and extremists have gathered strength and spread to every region of the planet. Rogue regimes represented in this body not only support terror but threaten other nations and their own people with the most destructive weapons known to humanity.
Authority and authoritarian powers seek to collapse the values, the systems, and alliances, that prevented conflict and tilted the word toward freedom since World War II. International criminal networks traffic drugs, weapons, people, force dislocation and mass migration, threaten our borders and new forms of aggression exploit technology to menace our citizens. To put it simply, we meet at a time of both immense promise and great peril. It is entirely up to us whether we lift the world to new heights or let it fall into a valley of disrepair. We have it in our power, should we so choose, to lift millions from poverty, to help our citizens realize their dreams, and to ensure that new generations of children are raised free from violence, hatred, and fear.
This institution was founded in the aftermath of two world wars, to help shape this better future. It was based on the vision that diverse nations could cooperate to protect their sovereignty, preserve their security, and promote their prosperity. It was in the same period exactly 70 years ago that the United States developed the Marshall Plan to help restore Europe. Those these beautiful pillars, they are pillars of peace, sovereignty, security, and prosperity. The Marshall Plan was built on the noble idea that the whole world is safer when nations are strong, independent, and free. As president, Truman said in his message to Congress at that time, our support of European recovery is in full accord with our support of the United Nations.
The success of the United Nations depends upon the independent strength of its members. To overcome the perils of the present, and to achieve the promise of the future, we must begin with the wisdom of the past. Our success depends on a coalition of strong and independent nations that embrace their sovereignty, to promote security, prosperity, and peace, for themselves and for the world. We do not expect diverse countries to share the same cultures, traditions, or even systems of government, but we do expect all nations to uphold these two core sovereign duties, to respect the interests of their own people and the rights of every other sovereign nation.
This is the beautiful vision of this institution, and this is the foundation for cooperation and success. Strong sovereign nations let diverse countries with different values, different cultures, and different dreams not just coexist, but work side by side on the basis of mutual respect. Strong sovereign nations let their people take ownership of the future and control their own destiny. And strong sovereign nations allow individuals to flourish in the fullness of the life intended by God. In America, we do not seek to impose our way of life on anyone, but rather to let it shine as an example for everyone to watch.
This week gives our country a special reason to take pride in that example. We are celebrating the 230th anniversary of our beloved Constitution, the oldest constitution still in use in the world today. This timeless document has been the foundation of peace, prosperity, and freedom for the Americans and for countless millions around the globe whose own countries have found inspiration in its respect for human nature, human dignity, and the rule of law. The greatest in the United States Constitution is its first three beautiful words. They are "We the people." Generations of Americans have sacrificed to maintain the promise of those words, the promise of our country and of our great history.
In America, the people govern, the people rule, and the people are sovereign. I was elected not to take power, but to give power to the American people where it belongs. In foreign affairs, we are renewing this founding principle of sovereignty. Our government's first duty is to its people, to our citizens, to serve their needs, to ensure their safety, to preserve their rights, and to defend their values. As president of the United States, I will always put America first. Just like you, as the leaders of your countries, will always and should always put your countries first.
All responsible leaders have an obligation to serve their own citizens, and the nation state remains the best vehicle for elevating the human condition. But making a better life for our people also requires us to with work together in close harmony and unity, to create a more safe and peaceful future for all people.
The United States will forever be a great friend to the world and especially to its allies. But we can no longer be taken advantage of or enter into a one-sided deal where the United States gets nothing in return. As long as I hold this office, I will defend America's interests above all else, but in fulfilling our obligations to our nations, we also realize that it's in everyone's interests to seek the future where all nations can be sovereign, prosperous, and secure.
America does more than speak for the values expressed in the United Nations charter. Our citizens have paid the ultimate price to defend our freedom and the freedom of many nations represented in this great hall. America's devotion is measured on the battlefields where our young men and women have fought and sacrificed alongside of our allies. From the beaches of Europe to the deserts of the Middle East to the jungles of Asia, it is an eternal credit to the American character that even after we and our allies emerge victorious from the bloodiest war in history, we did not seek territorial expansion or attempt to oppose and impose our way of life on others. Instead, we helped build institutions such as this one to defend the sovereignty, security, and prosperity for all. For the diverse nations of the world, this is our hope.
We want harmony and friendship, not conflict and strife. We are guided by outcomes, not ideologies. We have a policy of principled realism, rooted in shared goal, interests, and values. That realism forces us to confront the question facing every leader and nation in this room, it is a question we cannot escape or avoid. We will slide down the path of complacency, numb to the challenges, threats, and even wars that we face, or do we have enough strength and pride to confront those dangers today so that our citizens can enjoy peace and prosperity tomorrow.
If we desire to lift up our citizens, if we aspire to the approval of history, then we must fulfill our sovereign duties to the people we faithfully represent. We must protect our nations, their interests and their futures. We must reject threats to sovereignty from the Ukraine to the South China Sea. We must uphold respect for law, respect for borders, and respect for culture, and the peaceful engagement these allow.
And just as the founders of this body intended, we must work together and confront together those who threatens us with chaos, turmoil, and terror. The score of our planet today is small regimes that violate every principle that the United Nations is based. They respect neither their own citizens nor the sovereign rights of their countries. If the righteous many do not confront the wicked few, then evil will triumph. When decent people and nations become bystanders to history, the forces of destruction only gather power and strength.
No one has shown more contempt for other nations and for the well-being of their own people than the depraved regime in North Korea. It is responsible for the starvation deaths of millions of North Koreans. And for the imprisonment, torture, killing, and oppression of countless more. We were all witness to the regime's deadly abuse when an innocent American college student, Otto Warmbier, was returned to America, only to die a few days later.
We saw it in the assassination of the dictator's brother, using banned nerve agents in an international airport. We know it kidnapped a sweet 13-year-old Japanese girl from a beach in her own country, to enslave her as a language tutor for North Korea's spies. If this is not twisted enough, now North Korea's reckless pursuit of nuclear weapons and ballistic missiles threatens the entire world with unthinkable loss of human life. It is an outrage that some nations would not only trade with such a regime, but would arm, supply, and financially support a country that imperils the world with nuclear conflict.
No nation on Earth has an interest in seeing this band of criminals arm itself with nuclear weapons and missiles. The United States has great strength and patience, but if it is forced to defend itself or its allies, we will have no choice but to totally destroy North Korea. Rocket Man is on a suicide mission for himself and for his regime. The United States is ready, willing, and able, but hopefully this will not be necessary. That's what the United Nations is all about. That's what the United Nations is for. Let's see how they do.
It is time for North Korea to realize that the denuclearization is its only acceptable future. The United Nations Security Council recently held two unanimous 15-0 votes adopting hard-hitting resolutions against North Korea, and I want to thank China and Russia for joining the vote to impose sanctions, along with all of the other members of the Security Council. Thank you to all involved. But we must do much more.
It is time for all nations to work together to isolate the Kim regime until it ceases its hostile behavior. We face this decision not only in North Korea; it is far past time for the nations of the world to confront another reckless regime, one that speaks openly of mass murder, vowing death to America, destruction to Israel, and ruin for many leaders and nations in this room.
The Iranian government masks a corrupt dictatorship behind the false guise of a democracy. It has turned a wealthy country, with a rich history and culture, into an economically depleted rogue state whose chief exports are violence, bloodshed, and chaos. The longest-suffering victims of Iran's leaders are, in fact, its own people. Rather than use its resources to improve Iranian live, its oil profits go to fund Hezbollah and other terrorists that kill innocent Muslims and attack their peaceful Arab and Israeli neighbors.
This wealth, which rightly belongs to Iran's people, also goes to shore up Bashar al-Assad's dictatorship, fuel Yemen's civil war, and undermine peace throughout the entire Middle East. We cannot let a murderous regime continue these destabilizing activities while building dangerous missiles, and we cannot abide by an agreement if it provides cover for the eventual construction of a nuclear program. The Iran deal was one of the worst and most one-sided transactions the United States has ever entered into. Frankly, that deal is an embarrassment to the United States, and I don't think you've heard the last of it. Believe me.
It is time for the entire world to join us in demanding that Iran's government end its pursuit of death and destruction. It is time for the regime to free all Americans and citizens of other nations that they have unjustly detained. Above all, Iran's government must stop supporting terrorists, begin serving its own people, and respect the sovereign rights of its neighbors. The entire world understands that the good people of Iran want change, and, other than the vast military power of the United States, that Iran's people are what their leaders fear the most. This is what causes the regime to restrict internet access, tear down satellite dishes, shoot unarmed student protesters, and imprison political reformers.
Oppressive regimes cannot endure forever, and the day will come when the people will face a choice. Will they continue down the path of poverty, bloodshed, and terror, or will the Iranian people return to the nation's proud roots as a center of civilization, culture, and wealth, where their people can be happy and prosperous once again? The Iranian regime's support for terror is in stark contrast to the recent commitments of many of its neighbors to fight terrorism and halt its finance, and in Saudi Arabia early last year, I was greatly honored to address the leaders of more than 50 Arab and Muslim nations. We agreed that all responsible nations must work together to confront terrorists and the Islamic extremism that inspires them.
We will stop radical islamic terrorism because we cannot allow it to tear up our nation and, indeed, to tear up the entire world. We must deny the terrorists safe haven, transit, funding, and any form of support for their vile and sinister ideology. We must drive them out of our nation. It is time to expose and hold responsible those countries whose support and fi — who support and finance terror groups like al-Qaeda, Hezbollah, the Taliban, and others that slaughter innocent people.
The United States and our allies are working together throughout the Middle East to crush the loser terrorists and stop the reemergence of safe havens they use to launch attacks on all of our people. Last month I announced a new strategy for victory in the fight against this evil in Afghanistan. From now on, our security interests will dictate the length and scope of military operation, not arbitrary benchmarks and timetables set up by politicians. I have also totally changed the rules of engagement in our fight against the Taliban and other terrorist groups.
In Syria and Iraq, we have made big gains toward lasting defeat of ISIS. In fact, our country has achieved more against ISIS in the last eight months than it has in many, many years combined. We seek the deescalation of the Syrian conflict, and a political solution that honors the will of the Syrian people. The actions of the criminal regime of Bashar al-Assad, including the use of chemical weapons against his own citizens, even innocent children, shock the conscience of every decent person. No society could be safe if banned chemical weapons are allowed to spread. That is why the United States carried out a missile strike on the airbase that launched the attack.
We appreciate the efforts of the United Nations agencies that are providing vital humanitarian assistance in areas liberated from ISIS, and we especially thank Jordan, Turkey, and Lebanon for their role in hosting refugees from the Syrian conflict. The United States is a compassionate nation and has spent billions and billions of dollars in helping to support this effort. We seek an approach to refugee resettlement that is designed to help these horribly treated people and which enables their eventual return to their home countries to be part of the rebuilding process. For the cost of resettling one refugee in the United States, we can assist more than 10 in their home region.
Out of the goodness of our hearts, we offer financial assistance to hosting countries in the region and we support recent agreements of the G20 nations that will seek to host refugees as close to their home countries as possible. This is the safe, responsible, and humanitarian approach. For decades the United States has dealt with migration challenges here in the Western Hemisphere.
We have learned that over the long term, uncontrolled migration is deeply unfair to both the sending and the receiving countries. For the sending countries, it reduces domestic pressure to pursue needed political and economic reform and drains them of the human capital necessary to motivate and implement those reforms. For the receiving countries, the substantial costs of uncontrolled migration are born overwhelmingly by low-income citizens whose concerns are often ignored by both media and government.
I want to salute the work of the United Nations in seeking to address the problems that cause people to flee from their home. The United Nations and African Union led peacekeeping missions to have invaluable contributions in stabilizing conflict in Africa. The United States continues to lead the world in humanitarian assistance, including famine prevention and relief, in South Sudan, Somalia, and northern Nigeria and Yemen.
We have invested in better health and opportunity all over the world through programs like PEPFAR, which funds AIDS relief, the President’s Malaria Initiative, the Global Health Security Agenda, the Global Fund to End Modern Slavery, and the Women Entrepreneur's Finance Initiative, part of our commitment to empowering women all across the globe.
We also thank — we also thank the secretary general for recognizing that the United Nations must reform if it is to be an effective partner in confronting threats to sovereignty, security, and prosperity. Too often the focus of this organization has not been on results, but on bureaucracy and process. In some cases, states that seek to subvert this institution's noble end have hijacked the very systems that are supposed to advance them. For example, it is a massive source of embarrassment to the United Nations that some governments with egregious human rights records sit on the UN Human Rights Council.
The United States is one out of 193 countries in the United Nations, and yet we pay 22 percent of the entire budget and more. In fact, we pay far more than anybody realizes. The United States bears an unfair cost burden, but to be fair, if it could actually accomplish all of its stated goals, especially the goal of peace, this investment would easily be well worth it. Major portions of the world are in conflict, and some, in fact, are going to hell, but the powerful people in this room, under the guidance and auspices of the United Nations, can solve many of these vicious and complex problems. The American people hope that one day soon the United Nations can be a much more accountable and effective advocate for human dignity and freedom around the world.